.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__header {
  margin: 0;
  margin-top: 2rem;
  position: relative;
  right: 3px;
}

.home__subheader {
  margin-top: 3rem;
  margin-bottom: 4em;
  max-width: 30em;
}

@media (max-width: 768px) {
  .home__subheader {
    max-width: 25em;
  }
}

@media (max-width: 600px) {
  .home__subheader {
    max-width: 23em;
  }
}