.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact__body {
  max-width: 32em;
  text-align: center;
}

@media (max-width: 520px) {
  .contact__body__newline {
    display: none;
  }
}
